@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #F5F5DC;
  color: #333;
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  padding: 0rem;
  overflow-y: hidden;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ul {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

button {
  all: unset;
  cursor: pointer;
}


img {
  border-radius: 0 !important;
}

.page-title {
  position: absolute;
  left: 20vw;
  width: 80vw;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Lobster', sans-serif;
  color: #926b6a;
}
